body {
  background: #eee;
  padding:10px 0px 0px;
}

.navbar{display:none;}

.buildCard .panel{margin-bottom:5px;border-radius: 10px;}
.buildCard .reason{font-size:18px;height: 40px; line-height:20px; overflow:hidden;margin-bottom:15px;}
.buildCard .panel-heading{
  font-size:24px;
  padding:10px;    
  border-top-left-radius: 9px; 
  border-top-right-radius: 9px;
}
.buildCard .panel-danger>.panel-heading{background:#D20000;color:white;}

.buildCard .panel-body{font-size:20px;padding:10px;}
.buildCard .panel-body .last-build{font-size:14px; color:#999;}

.buildCard .panel-footer{
  font-size:18px;
  padding:10px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.buildCard .progress {height:30px; margin-bottom:0px}
.buildCard .progress-bar {line-height:30px; font-size:20px;}


@media (min-width: 1200px) {
  body {
    padding:0px 30px;
  }
  .navbar{display:block; 
    background: url(../img/bambooLogo.png) 0 0 no-repeat #1E5180; 
    background-size: 67px 67px;
  }
  .navbar-default .navbar-text {padding-left: 40px; font-size:26px; color:white;}
  .buildCard .panel-heading{font-size:32px;}
  .buildCard .reason{font-size:22px;height: 50px; line-height:25px; overflow:hidden;margin-bottom:15px;}
  .buildCard .panel-footer{font-size:22px;}
  .buildCard .progress {height:36px;}
  .buildCard .progress-bar {line-height:36px; font-size:24px;}
  
}