.storyCard .panel{border-radius: 10px;}
.storyCard .reason{font-size:18px;height: 40px; line-height:20px; overflow:hidden;margin-bottom:15px;}
.storyCard .panel-heading{
  font-size:20px;
  padding:10px;    
  border-top-left-radius: 9px; 
  border-top-right-radius: 9px;
}

.storyCard .panel-body{font-size:20px;padding:10px; line-height:25px; min-height:95px;}

.storyCard .panel-footer{
  font-size:18px;
  padding:10px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.storyCard .progress {height:30px; margin-bottom:0px}
.storyCard .progress-bar {line-height:30px; font-size:20px;}

.navbar{display:none;}

@media (min-width: 1200px) {
  body {
    padding:0px 30px;
  }
  .navbar{display:block; 
    background: 0 0 no-repeat #D9534F; 
    color:white;
    background-size: 67px 67px;
  }
  .navbar-default .navbar-text {padding-left: 40px; font-size:26px; color:white;}
}