body {
  background: #eee;
  padding:10px 0px 0px;
}

.navbar{display:none;}

.panel {padding:5px 10px;}

  body {
    padding:0px 30px;
  }
  .navbar{display:block; 
    background: url(../img/NewRelicLogo.png) 10px 10px no-repeat #595959; 
    background-size: 60px;
  }
  .navbar-default .navbar-text {padding-left: 50px; font-size:26px; color:white;}